## Project 3: Anomaly Detection using OCI AD Service
### Change timestamp format

Save the dataset with timestamp in ISO-8601 format

* dataset: BearingsNasaTest1.csv

In [13]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [14]:
FILE_ORIG = 'BearingsNasaTest1.csv'

data_orig = pd.read_csv(FILE_ORIG)

In [15]:
data_orig.head()

# renaming the first column as timestamp
data_new = data_orig.rename(columns={"Unnamed: 0": "timestamp"})

In [16]:
data_new.head()

,timestamp,Br11,Br12,Br21,Br22,Br31,Br32,Br41,Br42
0,2003-10-22 12:06:24,0.1041,0.1003,0.1071,0.1020,0.1061,0.1082,0.0948,0.0995
1,2003-10-22 12:09:13,0.1037,0.0999,0.1082,0.1029,0.1067,0.1085,0.0951,0.0936
2,2003-10-22 12:14:13,0.1050,0.1015,0.1085,0.1040,0.1087,0.1099,0.0962,0.0983
3,2003-10-22 12:19:13,0.1049,0.1016,0.1082,0.1034,0.1081,0.1100,0.0968,0.0986
4,2003-10-22 12:24:13,0.1048,0.1022,0.1079,0.1026,0.1085,0.1093,0.0964,0.0985

In [17]:
# change the datatype to datetime
data_new.timestamp = data_new.timestamp.astype('datetime64')

In [21]:
# save with timestamp in ISO-8601 format
data_new.to_csv('bearings_ad.csv', index=None, date_format='%Y-%m-%dT%H:%M:%SZ')